/* body */
body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
  }
  #body-header {
    height: 65vh;
    opacity: 0.8;
    background-image: url("pfbg.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 1.2rem;
  }
  /* section */
  section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
  }
  section:nth-child(2n) {
    background-color: #9e9b9b29;
  }
  
  section:nth-child(2n + 1) {
    background-color: white;
  }

  .section-heading{
    width: auto;
    padding: 20px 10px 20px;
    font-weight: 400;
  }
  .section-heading span{
    color: #2857a4;
    font-size: 40px;
    display: inline block;
    padding-top: 10px;
    margin-right: 0.5rem ; /*to be known*/
  
  }
  /* navigation-body */
  .horizontal-list {
    list-style: none;
    padding-left: 0px;
    margin: 0;
  }
  .horizontal-list li {
    display: inline-block;
    margin: 0px 10px 0px 10px;
  }
  .horizontal-list li a {
    color: black;
    text-decoration: none;
    transition: color 0.5s, border-bottom 2s;
  }
  .horizontal-list li a:hover {
    color: grey;
    /* border-bottom: 1px solid lightgray; */
  }
  .text-center {
    text-align: center;
  }
  .nav-text{
    font-size: 1.2rem;
    font-weight:100;
  }
  /* name and social icons */
  #name-social-container {
    margin-top: 8%;
  }
  #my-name {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: rgb(32, 50, 40);
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  .social-icons li a i {
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 50%;
  }
  .social-icons li a i:hover {
    box-shadow: 0px 0px 6px 6px lightgrey;
  }
  /* about */
  #about{
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 30px;
    
  }
#my-image{
  height: 12rem;
  width: 12rem;
  margin: auto;
  margin-top: -6rem;
}
#my-image img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid white;
}
#about p{
  width: 80%;
  align-content: center;
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
}
/* skills */

#skills-display{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;
  margin-bottom: 30px;
}
.skill-icon{
  width: 12rem;
  height: 2.2rem;
  border-radius: 0.8rem;
  background-color: white;
  overflow: hidden;
  margin: 30px;
}

.skill-name{
  text-align: center;
  margin-bottom: 10px;
 
}
.skill-name span{
  font-size: 1rem;
  color: white;
  vertical-align: middle;
  /* margin-left: 15px; */
  font-family: 'Poppins', sans-serif;
  
}
/* .skill-icon>div{
  border-radius: 20px 0px 0px 20px;
} */

/* colors */
.mb-blue {
  background-color: #2857a4;
}

.mb-orange {
  background-color: #ec4d1c;
}

.mb-teal {
  background-color: #0b8176;
}

.mb-purple {
  background-color: #7851a9;
}

.ninty-per{
  width: 100%;
  height: inherit;
}

/* Work Experience */

.timeline {
  position: relative;
  width: 75%;
}

.timeline-box {
  padding: 5px;
  width: 40%;
  min-height: 150px;
  position: relative;
  left: 5%;
  text-align: right;
}

.timeline-box::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: lightgrey;
  top: 25%;
  border-radius: 50%;
  z-index: 1;
}

.timeline-box:nth-child(2n) {
  left: 53%;
}

.timeline-box:nth-child(2n+1)::after {
  right: -11.8%;
}

.timeline-box:nth-child(2n)::after {
  left: -9%;
}

.timeline-container {
  padding: 8px;
}

.timeline-logo {
  position: absolute;
  width: 50px;
  overflow: hidden;
}

.timeline-logo > img {
  width: 100%;
}

#timeline-divider {
  position: absolute;
  width: 0;
  top: 10%;
  left: 50%;
  border: 1px dashed #0096fa6b;
  height: 66%;
  color: #433E3F;
}

#timeline-divider .timeline-traveller {
  position: sticky;
  top: 135px;
  z-index: 2;
}

#timeline-divider i {
  transform: rotate(90deg);
  margin-top: -35px;
  display: block;
  color: #2857a4;
}

.experience-designation {
  font-size: 1.4rem;
}

.experience-company-name {
  margin: 5px 0 0;
  color: #eb822d;
  font-weight: 400;
  font-size: 1.2rem;
}

.experience-duration {
  color: #9e9b9b;
  font-weight: 100;
  color: grey;
  font-size: 1rem;
}

.experience-description {
  font-size: 14px;
  padding: 2px;
  color: grey;
  line-height: 20px;
}

/* Portfolio Section */

#portfolio-container {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding: 0 50px;
  margin-bottom: 20px;
  justify-content: space-around;
}

.portfolio-image-container {
  max-width: 300px;
  overflow: hidden;
  margin: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.portfolio-image-container img {
  width: 100%;
  height: 100%;
}

.portfolio-details {
  transition: all 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  color: transparent;
  text-align: center;
  padding: 10px;
}

.portfolio-image-container:hover {
  box-shadow: 0 0 20px #74ADC8;
}

.portfolio-image-container:hover .portfolio-details {
  background-color: #80808078;
  color: white;
}

/* contact */
#contact {
  width: auto;
  padding: 10px;
  /* margin-bottom: 30px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: linear-gradient(to right bottom, #2857a4, #403066);
}
.contact-division {
  width: 35%;
  display: flex;
  margin-left: 10%;
  margin-right: 5%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.details {
  display: flex;
  width: 30%;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 10%;
  color: white;
}
.details p,
.details span {
  color: lightgrey;
  font-size: 15px;
  margin-bottom: 10px;
}
.details b {
  margin-bottom: 10px;
  font-size: 1.5rem;
}
.contact-division input {
  background: linear-gradient(to right bottom, #2857a4, #403066);
  width: 100%;
}
.contact-division button {
  background: linear-gradient(to right bottom, #2857a4, #403066);
  height: 5vh;
  width: 20vh;
  color: white;
  border-color: white;
  margin-top: 30px;
}
#butt{
  cursor: pointer;
}
.nb {
  border: none;
  border-bottom: 2px solid white;
  margin-bottom: 30px;
  color: dimgray;
  height: 50px;
  font-size: 20px;
}
#contact-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-position: center;
  /* align-items: center; */
}
.section-heading-contact {
  font-size: 40px;
  color: white;
  display: ;
  padding-top: 10px;
  margin-right: 0.5rem;
}
.section-heading-contact {
  width: auto;
  padding: 20px 10px 10px;
  font-weight: 400;
}
#low-logos {
  /* display: flex; */
  text-align: center;
  align-items: center;
}
.sib li a{
  color: white;
}
.sib li{
  margin-top: 30px;
}

/* media queries */
@media screen and (max-width: 600px) {
  #timeline-divider{
      left:5% !important;
  }
  .timeline-box{
    width: 80%;
    left:12% !important;
  }
  .timeline-box::after{
    left: -12% !important;
  }
  html{
    font-size: 15px;
  }
  #contact-container{
    display: flex;
    .contact-division,.details{
      width: 80% !important;
    }
  }
}