/* body */
body {
    margin: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
  }
  #body-header {
    height: 65vh;
    opacity: 0.8;
    background-image: url("pfbg.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 1.2rem;
  }
  /* section */
  section {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }
  section:nth-child(2n) {
    background-color: #9e9b9b29;
  }
  
  section:nth-child(2n + 1) {
    background-color: white;
  }
  /* navigation-body */
  .horizontal-list {
    list-style: none;
    padding-left: 0px;
    margin: 0;
  }
  .horizontal-list li {
    display: inline-block;
    margin: 0px 10px 0px 10px;
  }
  .horizontal-list li a {
    color: black;
    text-decoration: none;
    transition: color 0.5s, border-bottom 2s;
  }
  .horizontal-list li a:hover {
    color: grey;
    /* border-bottom: 1px solid lightgray; */
  }
  .text-center {
    text-align: center;
  }
  .nav-text{
    font-size: 1.2rem;
    font-weight:100;
  }
  /* name and social icons */
  #name-social-container {
    margin-top: 20vh;
  }
  #my-name {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: rgb(32, 50, 40);
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  .social-icons li a i {
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 50%;
  }
  .social-icons li a i:hover {
    box-shadow: 0px 0px 6px 6px lightgrey;
  }
  /* about */
  #about{
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 30px;
    
  }
#my-image{
  height: 12rem;
  width: 12rem;
  margin: auto;
  margin-top: -6rem;
}
#my-image img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid white;
}